In [18]:
import locale
try:
    locale.setlocale(locale.LC_TIME, 'fr_FR.UTF-8')
except locale.Error:
    print("French locale not installed, dates parsing might fail.")
import pandas as pd
df=pd.read_csv('jobs.csv')

In [2]:
print(df.head())
print(df.describe())   
print(df.shape)
print(df.info())

                                               title  \
0                               Docteur en pharmacie
1                                 Commercial Terrain
2  Appel d’offres visant la sélection d’une compa...
3                                  Community manager
4  Agents en Prise de Rendez-vous (Déshumidificat...

                                             company  \
0                                 Pharmacie Gambetta
1                                           Tabasite
2                                  MAG International
3  KaliaKalia est une société de construction, pr...
4                                           AMK CALL

                                            location                job_type  \
0  114 Avenue Lamine Gueye, Dakar, Sénégal (à côt...                     CDD
1                                     Dakar, Sénégal                     CDD
2                                     Dakar, Sénégal  Prestation de Services
3                                     Point E, Dakar                   Stage
4                  Zac Mbao, Cité Serigne Babacar Sy  Prestation de Services

             date_posted
0  Publié le 19 mai 2025
1  Publié le 19 mai 2025
2  Publié le 19 mai 2025
3  Publié le 19 mai 2025
4  Publié le 19 mai 2025
                 title                                            company  \
count              259                                                259
unique             254                                                158
top     Chef Comptable  Sunda InternationalFaire de grandes réalisatio...
freq                 2                                                 17

              location job_type            date_posted
count              259      259                    259
unique              60        5                     22
top     Dakar, Sénégal      CDD  Publié le 19 mai 2025
freq               170      191                     30
(259, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        259 non-null    object
 1   company      259 non-null    object
 2   location     259 non-null    object
 3   job_type     259 non-null    object
 4   date_posted  259 non-null    object
dtypes: object(5)
memory usage: 10.2+ KB
None

In [3]:
print(df.isnull().sum())
print(df.duplicated().sum())

title          0
company        0
location       0
job_type       0
date_posted    0
dtype: int64
1

In [ ]:
df[df.duplicated(keep=False)]

,title,company,location,job_type,date_posted
248,Agent d’Inventaire de Stock Bilingue,Sunda InternationalFaire de grandes réalisatio...,"Sindia, Mbour, Sénégal",CDD,Publié le 25 avril 2025
252,Agent d’Inventaire de Stock Bilingue,Sunda InternationalFaire de grandes réalisatio...,"Sindia, Mbour, Sénégal",CDD,Publié le 25 avril 2025

In [5]:
df = df.drop_duplicates()

In [6]:
print(df.duplicated().sum())

0

In [7]:
df['job_type'].value_counts()

job_type
CDD                       190
Stage                      22
Prestation de Services     19
CDI                        18
Freelance                   9
Name: count, dtype: int64

In [9]:
# removing extra spaces
df = df.map(lambda x: x.strip() if isinstance(x, str) else x)

In [ ]:
# extracting the date posted
df['date_posted'] = df['date_posted'].str.extract(r'(\d{1,2} \w+ \d{4})')
print(df.head())

                                               title  \
0                               Docteur en pharmacie
1                                 Commercial Terrain
2  Appel d’offres visant la sélection d’une compa...
3                                  Community manager
4  Agents en Prise de Rendez-vous (Déshumidificat...

                                             company  \
0                                 Pharmacie Gambetta
1                                           Tabasite
2                                  MAG International
3  KaliaKalia est une société de construction, pr...
4                                           AMK CALL

                                            location                job_type  \
0  114 Avenue Lamine Gueye, Dakar, Sénégal (à côt...                     CDD
1                                     Dakar, Sénégal                     CDD
2                                     Dakar, Sénégal  Prestation de Services
3                                     Point E, Dakar                   Stage
4                  Zac Mbao, Cité Serigne Babacar Sy  Prestation de Services

   date_posted
0  19 mai 2025
1  19 mai 2025
2  19 mai 2025
3  19 mai 2025
4  19 mai 2025

In [19]:
df['date_posted'] = pd.to_datetime(df['date_posted'], format='%d %B %Y', errors='coerce')

print(df['date_posted'].head())
print("Date range:", df['date_posted'].min(), "to", df['date_posted'].max())

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: date_posted, dtype: datetime64[ns]
Date range: NaT to NaT

In [16]:
df.to_csv("cleaned_jobs.csv", index=False)